.header__title{
    display: flex;
    align-items: center;
    margin: 0px;
  margin-left: 64px;
  max-width: 100%;
    max-width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    z-index: 5;
  }