.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header{
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
  position: relative;
background-color: #f2f2f2;
}
.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
  z-index: 5;
}
.header__link{
  text-decoration: none;
  color: #2f80ed;
}
.header__title{
  display: flex;
  align-items: center;
margin-left: 64px;
width: 100%;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 5;
}
.header__subtitle{
  position: absolute;
  width: 100%;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 4;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}
.header__main-illustration{
  position: absolute;
  height: 608px;
  width: 765px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
}
.header__square-pic{
  position: absolute;
  right: 0px;
  top: 64px;
  height: 568px;
  width: 568px;
 background-color: #2f80ed;
 z-index: 2;
}

.description{
  display: flex;
  position: relative;
  justify-content: center;
margin-top: 100px;
}
.two-columns{
  display: flex;
  width: 80%;
  min-height: 200px;
justify-content: space-between;
}
.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0px;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  display: flex;
	flex-direction: column;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;

}
.two-columns__paragraph{
 
  margin-top: 30px;
  margin-bottom: 0px;

}
.two-columns__paragraph:first-child{
  margin-top: 0px;
}
.two-columns__paragraph:last-child{
  margin-bottom: 0px;
}
.digits{
  width: 100%;
}
.section__title{
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0px;
  margin-top: 100px;
}
.section__subtitle{
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  margin-top: 20px;
}
.table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  width: 1100px;
  min-height: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto; 
}
.table__cell{
  margin: 0;
  margin-top: 60px;
  width: 250px;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0px;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
  margin-top: 20px;
}
.feynman{
  display: flex;
  position: relative;
  min-height: 890px;
  background-image: url(images/feynman.png);
  background-position: bottom left;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: #f2f2f2;
}
.feynman__title{
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  max-width: 648px;
  width: 100%;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}
.feynman__subtitle{
margin-top: 70px;
line-height: 51px;
font-size: 36px;
font-weight: normal;
}
.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
.kaufman{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
  background-color:  #1f1f1f;
}
.section__title_theme_dark{
margin-top: 90px;
margin-bottom: 0px;
color:  #f2f2f2;
line-height: 1.15;
font-size: 60px;
font-weight: 600;

}
.section__subtitle_theme_dark{
  min-width: 60%;
  margin-top: 20px;
  margin-bottom: 0px;
  color:  #f2f2f2;
}
.table_theme_dark{
  margin-top: 0px;
  margin-bottom: 90px;
}
.table__cell_theme_dark{
  width: 200px;
  color: #f2f2f2;
  margin-right: 0;
  margin-top: 80px;
  z-index: 3;
}
.table__heading_theme_dark{
  margin: 0px;
  margin-bottom: 0px;
  z-index: 3;
}
.table__text_theme_dark{
  margin: 0px;
  margin-top: 20px;
  z-index: 3;
}
.kaufman__triangle{
  position: absolute;
  background-image: url(images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  top: 0px;
  right: -210px;
  z-index: 2;
}
.footer{
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  min-height: 350px;
 padding-top: 60px;
 padding-bottom: 40px;
}
.footer__columns{
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 90%;
}
.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: row;
}
.logo_place_footer{
  display: flex;
  left: 0px;
  color: #f2f2f2;
  width: 228px;
  height: 32px;

}
.footer__author{
  position: absolute;
  color: #f2f2f2;
  left: 0px;
  bottom: 0px;
  margin-bottom: 18px;
}
.footer__column-heading{
  justify-content: center;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  margin: 0px;
}

.footer__column_content_info{
  display: flex;
  flex-direction: column;
}
.footer__column-links{
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  padding-left: 0px;
  min-height: 16px;
  text-decoration: none;
  margin: 0px;
  margin-top: 20px;
}
.footer__column-link{
  color: #f2f2f2;
  text-decoration: none;
}
.footer__column_content_social{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;
}
.footer__social-icon{
padding-right: 10px;
color: #f2f2f2;
}
